 .sing-up-form__label{
     color: #757575;
     font-size: 12px;
     margin-top: 10px;
 }
 .button--sumbit{
     margin-top: 15px;
     width: 100%;
 }
 .form-container{
    width: 500px;
 }
 .sing-up-form__title{
    color: black; 
    font-weight: 600;
    font-size: 20px;
}