.error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: aliceblue;
}

.error-message__text {
    text-align: center;
    font-style: italic;
}

.error-message__icon {
    align-self: center;
}