.dropdown-item{
    cursor: pointer;
}

.dropdown__button{
    width: 100%;
    height: 40px;
}

.dropdown__options{
    width: 100%;
}

.dropdown__textbutton{
    display: inline-block;
    width: 95%;
    text-align: left;
}