.container--serching-bar{
    padding-top: 35px;
    padding-bottom: 35px;
}
.view-more{
    text-align: center;
    color: #303F9F;
}
.view-more:hover{
    cursor:pointer;
    text-decoration: underline;
}
