.footer{
    height: 150px;
    background-color: #3F51B5;
}

.footer-link{
    text-decoration: none;
    color: #FFC107; 
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-text{
    color: white;
}