.card--container{
    width: 415px;
    margin-bottom: 30px;
}
.card__content{
    padding: 7px;
    height: 120px;
}
.card__content:hover{
    cursor: pointer;
}
.card__date{
    color: #757575;
}
.card__title{
    font-size: 15px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}
.card__title:hover{
    text-decoration: underline;
} 
.card__summary{
    text-align: justify;
    color: #757575; 
    font-size: 12px;
}
.card__clickable:hover{
    cursor:pointer; 
}
.card__divider {
    height: 1px;
    margin-top: 7px;
    background-color: #3F51B5;
}
.card_reactions{
    padding-right: 7px;
    padding-left: 7px;
}
.card__header{
    padding: 7px;
    background-color: #FBFBFB;
}
.reactions__like{
    display: inline;
    cursor: pointer;
}