.card--container{
    width: 415px;
    border-bottom: 2px solid #3F51B5;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.card--container:hover{
    cursor:pointer; 
}

.card__date{
    color: #757575;
}
.card__title{
    font-size: 20px;
    font-weight: 700;
    color: black;
}
.card__title:hover{
    text-decoration: underline;
} 
.card__summary{
    text-align: justify;
    color: #757575; 
    font-size: 12px;
}